*{
    margin:0;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;


    font-family: 'Nanum Barun Gothic', sans-serif;
}


body{
    width:100vw;
    height:100vh;

    overflow:hidden;
}

.header{
    width:100%;
    height:10%;
    background-color:#455a65;


    display:flex;
    align-items:center;
}

.logo{
    background-image:url("img/explain/ic_s_edcan.png");
    width:150px;
    height:33px;

    margin-left:20px;

}


.btn-box{
    width:100%;
    height:100%;

    display:flex;
}

.slide-bar{
    width:100%;
    height:45%;

    overflow:hidden;
}

.left-btn, .right-btn{
    position:absolute;

    z-index:10;

    width:50px;
    height:150px;

    margin-top:7%;

    background-color:rgba(0,0,0,0.7);

    display:flex;
    align-items:center;
    justify-content:center;
}

.right-btn{
    left:calc(100% - 50px);
}

.right{
    background-image:url("img/explain/ic_right_arrow.png");
    width:15px;
    height:25px;
}

.left{
    background-image:url("img/explain/bg_left_arrow.png");
    width:15px;
    height:25px;
}

.img-slide{
    width:500%;
    height:100%;

    display:flex;
}

.img-edlabs{
    background-image:url("img/explain/ic_edlabs.png");

    background-size:cover;

    width:1226px;
    height:231px;
}

.edlabs-back{
    width:100vw;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    background-color:#ffbde4;
}

.atelier-back{
    width:100vw;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    background-color:#cbc3ff;
}

.img-atelier{
    background-image:url("img/explain/ic_atelier.png");

    background-size:cover;

    width:897px;
    height:221px;
}

.edresearch-back{
    width:100vw;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    background-color:#bcffe3;
}

.img-edresearch{
    background-image:url("img/explain/ic_edresearch.png");

    background-size:cover;

    width:977px;
    height:214px;
}

.pixel-back{
    width:100vw;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    background-color:#ffb5b5;
}

.img-pixel{
    background-image:url("img/explain/ic_pexel.png");

    background-size:cover;

    width:873px;
    height:173px;
}

.tech-io-back{
    width:100vw;
    height:100%;

    display:flex;
    align-items:center;
    justify-content:center;

    background-color:#e4c0ff;
}

.img-tech-io{
    background-image:url("img/explain/ic_tech.io.png");

    background-size:cover;

    width:779px;
    height:241px;
}




/* 나눠버리기이이!
 */

.explain{
    width:100%;
    height:45%;

    display:flex;
}

.explain-text{
    width:33.3%;
    height:100%;

    background-color:#455a65;
}

.explain-day{
    width:33.4%;
    height:100%;

    background-color:#fff;
}

.explain-logo{
    background-color:rgb(212,209,204);

    width:33.3%;
    height:100%;
}

.logo-box{
    width:100%;
    height:85%;

    display:flex;
    align-items:center;
    justify-content:center;
}

.explain-header{
    width:100%;
    height:15%;
    display:flex;
    align-items:center;

    font-weight:700;
    font-size:20px;

    padding-left:20px;

}



.black{
    color:black;
}

.white{
    color:white;
}

.gray-logo{
    background-image:url("img/explain/ic_b_edcan.png");

    width:204px;
    height:171px;
}

.explain-info{
    height:17%;
    width:100%;

    display:flex;
    align-items:center;

    color:white;

    padding-left:20px;
}

.big{
    font-size:60px;
    font-weight:200;
}




/* 나눠버리기ㅣ이이이이이 */

.atelier{
    background-image:url("img/unit/ATELIER.png");

    width:158px;
    height:188px;
}

.edlabs{
    background-image:url("img/unit/EDLabs.png");

    width:166px;
    height:188px;
}

.edresearch{
    background-image:url("img/unit/EDResearch.png");

    width:140px;
    height:188px;
}

.pixel{
    background-image:url("img/unit/pixel.png");
    width:217px;
    height:128px;
}

.techio{
    background-image:url("img/unit/Tech.io.png");

    width:116px;
    height:188px;
}

@media (max-width:1000px){
    body{
        overflow-y:auto;
    }
    .explain{
        display:block;
    }

    .explain-text{
        width:100%;
    }

    .explain-day{
        width:100%;
    }
    .explain-logo{
        width:100%;
    }

    .left-btn,.right-btn{
        width:100px;
        height:500px;
    }

    .right-btn{
        left:calc(100% - 100px);

    }

    .explain-header{
        font-size:40px;
    }

    .explain-info{
        font-size:25px;
    }

    .big{
        font-size:100px;
    }
}