*{
    margin:0;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;


}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:url('img/main/bg_picture.png');
}

.layer{
    width:100vw;
    height:100vh;

    background-color:rgba(0,0,0,0.3);
    background-size:cover;
}

/* title start*/

.title{
    width:100%;
    height:15%;

    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;

    -webkit-align-items:center;
    align-items:center;
    -ms-flex-align:center;

    -webkit-justify-content:center;
    justify-content:center;
    -ms-flex-pack:center;
}

.circle-best{
    width:86px;
    height:86px;
    background-image: url('img/main/ic_medal.png');
    margin-right:10px;
}

.circle-best-text{
    color:white;
    font-size:19px;

    font-family: 'Nanum Barun Gothic', sans-serif;
}

/* title finish*/

/* content start */

.content{
    width:100%;
    height:62%;
    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;

    -webkit-align-items:center;
    align-items:center;
    -ms-flex-align:center;

    -webkit-justify-content:center;
    justify-content:center;
    -ms-flex-pack:center;
}

.content-textBox{
    color:white;
    font-family: "Geometos" , sans-serif;
}


h1,h3{
    text-align:center;
}

h1{
    font-size:60px;
}

h3{
    font-size:23px;
}
/* content finish */

/* footer start */

.footer{
    width:100%;
    height:23%;
    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;

    -webkit-align-items:center;
    align-items:center;
    -ms-flex-align:center;

    -webkit-justify-content:center;
    justify-content:center;
    -ms-flex-pack:center;
    cursor:pointer;
}

.bgBlack{
    background-color:rgba(0,0,0,0.7);
}

.flexbox{
    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;

    -webkit-align-items:center;
    align-items:center;
    -ms-flex-align:center;

    -webkit-justify-content:space-between;
    justify-content:space-between;
    -ms-flex-pack:justify;
    width:56%;
}

.footer-text{
    color:white;
}

.logo{
    background-image:url('img/main/ic_edcan.png');
    width:133px;
    height:111px;
}

h4{
    font-family:"Geometos",sans-serif;
    font-size:23px;
    font-weight:500;
}

h5{
    font-family:"Nanum Barun Gothic" ,sans-serif;
}

.r{
    text-align:right;
}


/* footer finish */


@media (max-width:970px){
    h4{
        font-size:13px;
    }

    h1{
        font-size:80px;
    }


}