*{
    margin:0;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body{
    width:100vw;
    height:100vh;

    background-image:url('img/main/bg_picture.png');
}

.layer{
    width:100vw;
    height:100vh;

    background-color:rgba(0,0,0,0.3);
    background-size:cover;
}

/* title start*/

.title{
    width:100%;
    height:15%;

    display:flex;
    align-items:center;
    justify-content:center;
}

.circle-best{
    width:86px;
    height:86px;
    background-image: url('img/main/ic_medal.png');
    margin-right:10px;
}

.circle-best-text{
    color:white;
    font-size:19px;

    font-family: 'Nanum Barun Gothic', sans-serif;
}

/* title finish*/

/* content start */

.content{
    width:100%;
    height:60%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.content-textBox{
    color:white;
    font-family: "Geometos" , sans-serif;
}


h1,h3{
    text-align:center;
}

h1{
    font-size:60px;
}

h3{
    font-size:23px;
}
/* content finish */