*{
    margin:0;

    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    font-family: 'Nanum Barun Gothic', sans-serif;
}

body{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-image:url('img/user/bg_picture.png');
    background-size:cover;
}

.layer{
    width:100vw;
    height:100vh;

    background-color:rgba(0,0,0,0.3);

    display:flex;
    align-items:center;
    justify-content:center;
}

.content{
    width:30vw;
    height:80vh;
}

.content-box{
    width:100%;
    height:8%;
    padding:3px;
    margin-bottom:10px;
}

.white{
    background-color:white;
}

.gray{
    color:#505050;
}

.content-flex-center{
    display:flex;
    align-items:center;
    justify-content:center;
}

.content-flex-around{
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.content-flex-between{
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0;
}

.logo-box{
    height:19%;
    width:100%;
}

.in-text{
    height:80%;
    width:90%;
    outline:none;
    border:none;
    padding-left:3px;
    font-size:15px;
}

.logo{
    background-image:url("img/user/ic_edcan.png");
    width:107px;
    height:90px;
}

.check-box{
    color:gray;
    height:100%;
    width:48%;

    display:flex;
    align-items:center;
    justify-content:center;

    background-color:white;

}

.end-box{
    width:100%;
    height:8%;
    margin-top:10px;

    background-color:#455a65;

    color:white;
}


/* with js */

.boy{
    background-color:#01b8e1;
    color:white;
}

.girl{
    background-color:#f24982;
    color:white;
}

.soft{
    background-color:#f5b617;
    color:white;
}

.multi{
    background-color:#3c6eb4;
    color:white;
}

.n{
    background-image:url("img/user/ic_person.png");
}

.c{
    background-image:url("img/user/ic_call.png");
}

.e{
    background-image:url("img/user/ic_e-mail.png");
}

.s{
    background-image:url("img/user/ic_school.png");
}

.n, .c, .e, .s{
    width:22px;
    height:22px;
}