<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDCAN</title>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/ask.css">
    <link rel="stylesheet" href="css/footer.css">

    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="author" content="EDCAN Dev.">
    <meta name="title" content="EDCAN :: EveryDay Coding All Night!">
    <meta name="description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">
    <meta name="keywords" content="안드로이드, Android, iOS, 애플리케이션, App, 웹, Web, 디자인, Design, 영상, Video, 사물인터넷, IoT">

    <meta property="og:title" content="EDCAN :: EveryDay Coding All Night!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="css/img/favicon.png">
    <!-- 서버 : 유닛에 따라 경로 변경 -->
    <meta property="og:site_name" content="EDCAN">
    <meta property="og:url" content="http://apply.edcan.kr">
    <meta property="og:description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">

    <meta charset="utf-8">

    <link rel="image_src" href="css/img/favicon.png">
    <link rel="shortcut icon" href="css/img/favicon.png">
    <link rel="apple-touch-icon" href="css/img/favicon.png">
</head>
<body>

    <div class="header">
        <div class="header-logo">
            <div class="logo"></div>
        </div>
        <div class="header-content-box flex-center">
            <div class="content-box">
                <div class="flex-between">
                    <div class="name">
                        <div class="name-text"></div>
                        <br><br>
                        <div class="name-small-text email"></div>
                        <div class="name-small-text phone"></div>
                    </div>
                    <div class="null"></div>
                    <div class="alert">
                        <div class="alert-text">임시저장 기한일</div>
                        <div class="alert-text"><strong>2017년 3월 31일</strong></div>
                        <br>

                        <div class="alert-text">작성된 지원서 내용은</div>
                        <div class="alert-text">개인정보 보호를 위해해</div>
                        <div class="alert-text">지원서 제출 기준으로 <strong>1개월간</strong></div>
                        <div class="alert-text"><strong>임시저장 후 삭제</strong>됩니다</div>

                   </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="content-list flex-center">
            <div class="content-big-box fr">
                <div class="content-text">자기소개 <strong class="star">*</strong></div>
                <div class="content-small-text">자신을 잘 나타낼 수 있도록 자유롭게 서술하여주세요 (작성한 내용은 면접심사에 반영됩니다)</div>
                <div class="content-info">
                    <textarea class="content-info-textarea self" style="resize:none"></textarea>
                </div>
            </div>
        </div>

        <div class="content-list flex-center">
            <div class="content-big-box">
                <div class="content-text">지원동기 <strong class="star">*</strong></div>
                <div class="content-small-text">EDCAN을 어떻게 알게되었고 지원하게 됬나요?</div>
                <div class="content-info">
                    <textarea class="content-info-textarea dong" style="resize:none"></textarea>
                </div>
            </div>
        </div>

        <div class="content-list flex-center">
            <div class="content-big-box">
                <div class="content-text">전공활동 <strong class="star">*</strong></div>
                <div class="content-small-text">자신이 할 수 있거나 희망하는 개발이나 디자인 분야 또는 관심있는 기술이나 디자인 분야에 대해서 작성해주세요</div>
                <div class="content-info">
                    <textarea class="content-info-textarea master" style="resize:none"></textarea>
                </div>
            </div>
        </div>

        <div class="content-list flex-center">
            <div class="content-big-file">
                <div class="content-text">포트폴리오 <strong>*</strong></div>
                <div class="content-small-text">본인이 진행한 프로젝트의 소개자료 및 소스코드 또는 자신이 디자인 했던 파일 등 관련자료를 제출하고 싶다면 포트폴리오 버튼을 눌주세요</div>
            </div>
        </div>

        <!--<div class="content-list flex-center">-->
            <!--<div class="content-big-box">-->
                <!--<div class="content-text">기타</div>-->
                <!--<div class="content-small-text">후라이드 치킨입니까? 양념 치킨입니까? (면접사항과는 전혀 무관한 내용입니다)</div>-->
                <!--<div class="content-info">-->
                    <!--<textarea class="content-info-textarea" style="resize:none"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="content-list flex-center">-->
            <!--<div class="content-big-box">-->
                <!--<div class="content-text">기타</div>-->
                <!--<div class="content-small-text">시. 공. 좋. 아.?(면접사항과는 전혀 무관한 내용입니다)</div>-->
                <!--<div class="content-info">-->
                    <!--<textarea class="content-info-textarea" style="resize:none"></textarea>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="flex-center">
            <div class="content-add flex-center">
                <div class="add-text">지원서가 에드켄 신입생 모집에 활용될 수 있도록 등록하시겠습니까?</div>
                <input class="rd" type="radio">
            </div>
        </div>

        <div class="flex-center">
            <div class="content-add flex-center" style="border:none">
                <div class="preview send-text flex-center">
                    포트폴리오
                </div>
                <div class="send send-text flex-center">
                    제출하기
                </div>
            </div>
        </div>

        <div class="footer">
                <div class="footer-box flex">
                <div class="edcan-logo"></div>
               <div class="footer-info">
                    ⓒ2015 - 2017 CIRCLE EDCAN ALL RIGHT RESERVED.
                    <br> ADRESS (HIGHSCHOOL) : 33-4, WONHYO-RO 97-GIL, YONGSAN-GU, SEOUL
                    <br> OFFICIAL <a href="https://www.facebook.com/edcancircle" target="_blank">FACEBOOK</a> / <a href="https://github.com/EDCAN" target="_blank">GITHUB</a>
               </div>
            </div>

            <div class="circle-master flex-align-end">
                부장 김연준 : 01049461265 ㅣ 부부장 김태윤 : 01040516236
            </div>
        </div>
    </div>
    <script src="js/ask.js"></script>
</body>
</html>
