<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDCAN</title>

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/explain.css">
    
     <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="author" content="EDCAN Dev.">
    <meta name="title" content="EDCAN :: EveryDay Coding All Night!">
    <meta name="description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">
    <meta name="keywords" content="안드로이드, Android, iOS, 애플리케이션, App, 웹, Web, 디자인, Design, 영상, Video, 사물인터넷, IoT">

    <meta property="og:title" content="EDCAN :: EveryDay Coding All Night!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="css/img/favicon.png">
    <!-- 서버 : 유닛에 따라 경로 변경 -->
    <meta property="og:site_name" content="EDCAN">
    <meta property="og:url" content="http://apply.edcan.kr">
    <meta property="og:description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">
</head>
<body>
    <div class="header">
        <div class="logo"></div>
    </div>

    <div class="slide-bar">
        <div class="btn-box">

            <div class="img-slide">
                <div class="atelier-back">
                    <div class="img-atelier"></div>
                </div>

                <div class="edresearch-back">
                    <div class="img-edresearch"></div>
                </div>

                <div class="pixel-back">
                    <div class="img-pixel"></div>
                </div>

                <div class="tech-io-back">
                    <div class="img-tech-io"></div>
                </div>

                <div class="edlabs-back">
                    <div class="img-edlabs"></div>
                </div>
            </div>


        </div>
    </div>

    <div class="explain">
        <div class="explain-text">
            <div class="explain-header white">공지사항</div>
            <div class="explain-info">l 모집 기간 &nbsp&nbsp&nbsp&nbsp 3월 15일 오전까지</div>
            <div class="explain-info">l 모집 학과 &nbsp&nbsp&nbsp&nbsp  소프트웨어과 , 멀티미디어과, 테크노경영과</div>
            <div class="explain-info">l 시 연 회 &nbsp&nbsp&nbsp&nbsp&nbsp  3월 13일 (월) 방과후 1호관 2층 시청각실</div>
            <div class="explain-info">l 면접 일자 &nbsp&nbsp&nbsp&nbsp  3월 15일 (수) 방과후 (장소 추후공지)</div>
            <div class="explain-info">l 문의 사항 &nbsp&nbsp&nbsp&nbsp  부장 김연준 01049461265<br>l 문의 사항 &nbsp&nbsp&nbsp&nbsp 쀼장 김태윤 01040516236</div>
        </div>

        <div class="explain-day">
            <div class="explain-header black">D-DAY</div>
            <div class="logo-box big">
            </div>
        </div>
        <div class="explain-logo">
            <div class="explain-header black">지원하기</div>
            <div class="logo-box">
                <div class="gray-logo"></div>
            </div>
            <div class="logo-text">>> 이곳에서 접수해주세요 << </div>

        </div>
    </div>

    <script src="js/explain.js"></script>
</body>
</html>
