<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDCAN</title>

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/finish.css">

    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="author" content="EDCAN Dev.">
    <meta name="title" content="EDCAN :: EveryDay Coding All Night!">
    <meta name="description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">
    <meta name="keywords" content="안드로이드, Android, iOS, 애플리케이션, App, 웹, Web, 디자인, Design, 영상, Video, 사물인터넷, IoT">

    <meta property="og:title" content="EDCAN :: EveryDay Coding All Night!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="css/img/favicon.png">
    <!-- 서버 : 유닛에 따라 경로 변경 -->
    <meta property="og:site_name" content="EDCAN">
    <meta property="og:url" content="http://apply.edcan.kr">
    <meta property="og:description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">

    <meta charset="utf-8">

    <link rel="image_src" href="css/img/favicon.png">
    <link rel="shortcut icon" href="css/img/favicon.png">
    <link rel="apple-touch-icon" href="css/img/favicon.png">
</head>
<body>
    <div class="layer">
        <div class="thanks">신청해주셔서 감사합니다!</div>

        <div class="timer"></div>
    </div>

    <script src="js/finish.js"></script>
</body>
</html>