<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDCAN</title>

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/main.css">
    
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="author" content="EDCAN Dev.">
    <meta name="title" content="EDCAN :: EveryDay Coding All Night!">
    <meta name="description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">
    <meta name="keywords" content="안드로이드, Android, iOS, 애플리케이션, App, 웹, Web, 디자인, Design, 영상, Video, 사물인터넷, IoT">

    <meta property="og:title" content="EDCAN :: EveryDay Coding All Night!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="css/img/favicon.png">
    <meta property="og:site_name" content="EDCAN">
   
    <meta property="og:description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">

    <meta charset="utf-8">

    <link rel="image_src" href="css/img/favicon.png">
    <link rel="shortcut icon" href="css/img/favicon.png">
    <link rel="apple-touch-icon" href="css/img/favicon.png">
</head>
<body>
    <div class="layer">

        <div class="title">
            <div class="circle-best"></div>
            <div class="circle-best-text">2016 선린인터넷고<br> 최우수 동아리 선정</div>
        </div>
        <div class="content">
            <div class="content-textBox">
                <h1>WELCOME TO EDCAN</h1>
                <h3>EVERYDAY CODING ALL NIGHT</h3>
            </div>
        </div>

        <div class="footer">
            <div class="flexbox">
                <div class="footer-text apply">
                    <h4>APPLY EDCAN PAGE</h4>
                    <h5 class="r">에드켄 신청 홈페이지</h5>
                </div>

                <div class="logo"></div>

                <div class="footer-text main">
                    <h4>EDCAN OFFICIAL PAGE</h4>
                    <h5>에드켄 공식 홈페이지</h5>
                </div>
            </div>
        </div>
    </div>



    <script src="js/main.js"></script>
</body>
</html>
