<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDCAN</title>

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/result.css">

    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="author" content="EDCAN Dev.">
    <meta name="title" content="EDCAN :: EveryDay Coding All Night!">
    <meta name="description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">
    <meta name="keywords" content="안드로이드, Android, iOS, 애플리케이션, App, 웹, Web, 디자인, Design, 영상, Video, 사물인터넷, IoT">

    <meta property="og:title" content="EDCAN :: EveryDay Coding All Night!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="css/img/favicon.png">
    <!-- 서버 : 유닛에 따라 경로 변경 -->
    <meta property="og:site_name" content="EDCAN">
    <meta property="og:url" content="http://apply.edcan.kr">
    <meta property="og:description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">

    <meta charset="utf-8">

    <link rel="image_src" href="css/img/favicon.png">
    <link rel="shortcut icon" href="css/img/favicon.png">
    <link rel="apple-touch-icon" href="css/img/favicon.png">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <div class="logo"></div>
        </div>

        <div class="header-title">
            <div class="title">
                <div class="list">명단</div>
                <div class="stat dataClick">통계</div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="content-list none">
            <div class="content-box">
                <div class="num">번호</div>
                <div class="name">이름</div>
                <div class="school-num">학번</div>
                <div class="sex">성별</div>
                <div class="email">이메일</div>
                <div class="phone">전화번호</div>
                <div class="class">학과</div>
            </div>

            <div class="content-box">
                <div class="num">001</div>
                <div class="name">홍길동</div>
                <div class="school-num">11028</div>
                <div class="sex">남자</div>
                <div class="email">2017edcan@edcan.kr</div>
                <div class="phone">01012345678</div>
                <div class="class">소프트웨어과</div>
                <div class="more"></div>
            </div>
        </div>

        <div class="status">
            <div class="status-list">
                <div class="status-box">
                    <div class="status-content">
                        <div class="status-title all">총 신청자</div>
                        <div class="line all-line"></div>
                        <div class="status-info all-text">현재까지 총 45명의 신청자가 신청을 하였습니다!</div>
                    </div>

                    <div class="status-num all-back">
                        <div class="stat-num">
                            45명
                        </div>

                        <div class="stat-line">

                        </div>

                        <div class="stat-text">
                            누적 신청자 수
                        </div>
                    </div>
                </div>

                <div class="status-box">
                    <div class="status-content">
                        <div class="status-title all">총 신청자</div>
                        <div class="line all-line"></div>
                        <div class="status-info all-text">현재까지 총 45명의 신청자가 신청을 하였습니다!</div>
                    </div>

                    <div class="status-num all-back">
                        <div class="stat-num">
                            45명
                        </div>

                        <div class="stat-line">

                        </div>

                        <div class="stat-text">
                            누적 신청자 수
                        </div>
                    </div>
                </div>
            </div>

            <div class="status-list">
                <div class="status-box">
                    <div class="status-content">
                        <div class="status-title boy">남자 신청자</div>
                        <div class="line boy-line"></div>
                        <div class="status-info all-text">현재까지 총 45명의 신청자가 신청을 하였습니다!</div>
                    </div>

                    <div class="status-num boy-back">
                        <div class="stat-num">
                            45명
                        </div>

                        <div class="stat-line">

                        </div>

                        <div class="stat-text">
                            누적 신청자 수
                        </div>
                    </div>
                </div>

                <div class="status-box">
                    <div class="status-content">
                        <div class="status-title girl">여자 신청자</div>
                        <div class="line girl-line"></div>
                        <div class="status-info all-text">현재까지 총 45명의 신청자가 신청을 하였습니다!</div>
                    </div>

                    <div class="status-num girl-back">
                        <div class="stat-num">
                            45명
                        </div>

                        <div class="stat-line">

                        </div>

                        <div class="stat-text">
                            누적 신청자 수
                        </div>
                    </div>
                </div>
            </div>

            <div class="status-list">
                <div class="status-box">
                    <div class="status-content">
                        <div class="status-title multi">멀티미디어과</div>
                        <div class="line multi-line"></div>
                        <div class="status-info all-text">현재까지 총 45명의 신청자가 신청을 하였습니다!</div>
                    </div>

                    <div class="status-num multi-back">
                        <div class="stat-num">
                            45명
                        </div>

                        <div class="stat-line">

                        </div>

                        <div class="stat-text">
                            누적 신청자 수
                        </div>
                    </div>
                </div>

                <div class="status-box">
                    <div class="status-content">
                        <div class="status-title soft">소프트웨어과</div>
                        <div class="line soft-line"></div>
                        <div class="status-info all-text">현재까지 총 45명의 신청자가 신청을 하였습니다!</div>
                    </div>

                    <div class="status-num soft-back">
                        <div class="stat-num">
                            45명
                        </div>

                        <div class="stat-line">

                        </div>

                        <div class="stat-text">
                            누적 신청자 수
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <script src="js/result.js"></script>
</body>
</html>