<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDCAN</title>

    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/user.css">

    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="author" content="EDCAN Dev.">
    <meta name="title" content="EDCAN :: EveryDay Coding All Night!">
    <meta name="description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">
    <meta name="keywords" content="안드로이드, Android, iOS, 애플리케이션, App, 웹, Web, 디자인, Design, 영상, Video, 사물인터넷, IoT">

    <meta property="og:title" content="EDCAN :: EveryDay Coding All Night!">
    <meta property="og:type" content="website">
    <meta property="og:image" content="css/img/favicon.png">
    <!-- 서버 : 유닛에 따라 경로 변경 -->
    <meta property="og:site_name" content="EDCAN">
    <meta property="og:url" content="http://apply.edcan.kr">
    <meta property="og:description" content="안드로이드 애플리케이션과 웹, 그리고 IoT를 공부하는 선린인터넷고등학교 동아리">

    <meta charset="utf-8">

    <link rel="image_src" href="css/img/favicon.png">
    <link rel="shortcut icon" href="css/img/favicon.png">
    <link rel="apple-touch-icon" href="css/img/favicon.png">

</head>
<body>

    <div class="layer">
        <div class="content">
            <div class="logo-box content-flex-center">
                <div class="logo"></div>
            </div>
            <div class="content-box white content-flex-around">
                <i class="n"></i>
                <input class="in-text name" type="textbox" placeholder="이름을 입력하세요">
            </div>

            <div class="content-box white content-flex-around">
                <i class="s"></i>
                <input class="in-text num" type="textbox" placeholder="학번을 입력하세요 (ex. 11018)">
            </div>

            <div class="content-box content-flex-between">
                <div class="check-box">남자</div>
                <div class="check-box">여자</div>
            </div>

            <div class="content-box white content-flex-around">
                <i class="c"></i>
                <input class="in-text phone" type="textbox" placeholder="전화번호를 입력하세요 (ex. 01012345678)">
            </div>

            <div class="content-box white content-flex-around">
                <i class="e"></i>
                <input class="in-text email" type="textbox" placeholder="이메일을 입력하세요">
            </div>

            <div class="content-box content-flex-between">
                <div class="check-box check-class">소프트웨어과</div>
                <div class="check-box check-class">멀티미디어과</div>
		<div class="check-box check-class">테크노경영과</div>
            </div>

            <div class="end-box content-flex-center end">
                완료
            </div>
        </div>
    </div>
    <script src="js/user.js"></script>
</body>
</html>
